.footer {
	padding: 45px 0 45px 0;
	background: #2f324b;
}
.nav__footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer-logo {
	display: flex;
	align-items: center;
}
.logo-footer {
	margin-right: 19px;
}
.footer-text {
	font-weight: 500;
	font-size: 12px;
	line-height: 1.41;
}
.nav-name {
	font-weight: 500;
	font-size: 12px;
	line-height: 1.41;
}

/* Адаптация */
@media (max-width: 1440px) {
	.footer-logo {
		display: flex;
		align-items: center;
	}
}

@media (max-width: 1024px) {
	.footer-text {
		font-size: 12px;
	}
	.nav-name {
		font-size: 12px;
		opacity: 0.5;
	}
	.phone__link {
		font-size: 21px;
		margin-bottom: 4px;
	}
	.phone__text {
		font-size: 13px;
	}
}

@media (max-width: 480px) {
	.footer {
		padding: 30px 0;
		background: #2f324b;
	}
	.logo-footer {
		width: 38px;
	}
	.phone {
		display: none;
	}
	.footer-text {
		display: none;
	}
}
@media (max-width: 320px) {
	.footer-container {
		padding: 0;
	}
	.footer {
		padding-bottom: 0;
	}
	.nav__footer {
		padding: 0 15px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.logo-footer {
		width: 24px;
	}
	.footer-text {
		display: block;
		font-size: 8px;
	}
	.footer-logo {
		display: flex;
		margin-right: 19px;
	}
	.nav__footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.nav-name {
		display: none;
	}
	.footer__name {
		display: block;
		text-align: center;
		padding-top: 15px;
		padding-bottom: 15px;
		background: #2a2c3f;
		font-size: 12px;
		font-weight: 500;
		opacity: 0.5;
	}
}
